pkgbase = vt-cli-bin
	pkgdesc = VirusTotal Command Line Interface
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/VirusTotal/vt-cli
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	provides = vt-cli
	source = Linux64-1.0.1.zip::https://github.com/VirusTotal/vt-cli/releases/download/1.0.1/Linux64.zip
	source = https://github.com/VirusTotal/vt-cli/raw/refs/heads/master/LICENSE
	sha256sums = ddfcfcba412718541a3816cfe1cd04e95a396fd0dc5265dcd77165bc4ae44d6c
	sha256sums = cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30

pkgname = vt-cli-bin
